@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0118;
    font-family: 'Outfit', sans-serif;
}

.content{
    max-height: 700px;
    max-width: 450px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #3d3d61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1
{
    margin-top: 20px;
    color: #afe25c;
    font-size: 30px;
    padding-bottom: 10px;
}

.imcForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 90%;
}

label
{
    color: white;
    margin-bottom: 10px;
    margin-left: 5px;
}

.user-input{
    height: 50px;
    margin: 0px 0 20px 0;
    border-radius: 10px;
    padding-left: 10px;
}

.calculate-btn{
    height: 50px;
    background-color: #afe25c;
    color: #8a2bcc;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.result-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.resultTextarea{
    width: 85%;
    resize: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}

@media(max-width: 480px) {
    h1
    {
        font-size: 25px;
    }

    .content{
        width: 90%;
        height: 90%;
        justify-content: space-around;
    }

    .resultTextarea{
        height: 90%;
        width: 90%;
        padding: 0;
    }
}

@media (max-height: 600px) {
    .content{
        height: 95%;
        justify-content: space-around;
    }

    .result-area{
        margin-bottom: 0px;
    }
    
    .resultTextarea{
        height: 70%;
        width: 90%;
        padding: 0;
    }
}